.indicator {
    width: 12px;
    height: 4px;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    opacity: 0;

    &[data-active] {
        width: 40px;
    }
}

.controls {
    transition: opacity 150ms ease;
    opacity: 0;
    -webkit-transition: opacity 150ms ease;
    -moz-transition: opacity 150ms ease;
    -ms-transition: opacity 150ms ease;
    -o-transition: opacity 150ms ease;
}

.slide {
    outline: px solid red;
    outline-offset: -2px;
    width: fit-content;
}

.root {
    &:hover {
        .controls {
            opacity: 1;
        }
        .indicator {
            opacity: 1;
        }
    }
}

.card {
    height: 100%;
    padding: 32px;
    background-size: cover;
    background-position: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.poster {
    position: relative;
    margin: 0 auto;
    height: fit-content;
    overflow: hidden;
    display: block;
    width: fit-content;
    box-shadow: 4px black;
}

.poster:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.poster img {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.poster:hover {
    .overlay_card {
        opacity: 1;
    }
}

.overlay_card {
    position: absolute;
    clear: both;
    border-radius: var(--mantine-radius-xs);
    bottom: 0%;
    width: 100%;
    height: 50%;
    background: linear-gradient(        0deg,        rgba(0, 0, 0, 1) 0%,        rgba(0, 0, 0, 0.75) 50%,        rgba(0, 0, 0, 0) 100%    );
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-border-radius: var(--mantine-radius-xs);
    -moz-border-radius: var(--mantine-radius-xs);
    -ms-border-radius: var(--mantine-radius-xs);
    -o-border-radius: var(--mantine-radius-xs);
}

.child:first-child {
    padding-bottom: 10px;
}

.content {
    width: 50vw;
    padding: 32px;
    bottom: 32px;
}

.image {
    padding: 6px;
    max-width: 60vh;
}

.images {
    max-height: cover;
}

.title {
    font-family: Poppins, sans-serif;
    font-weight: 900;
    color: var(--mantine-color-white);
    line-height: 1.2;
    font-size: 3rem;
}

.category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: fit-content;
    padding: 4px 8px 4px 0px;
    border-radius: var(--mantine-radius-sm);
    -webkit-border-radius: var(--mantine-radius-sm);
    -moz-border-radius: var(--mantine-radius-sm);
    -ms-border-radius: var(--mantine-radius-sm);
    -o-border-radius: var(--mantine-radius-sm);
}

.genre {
    font-size: large;
}

.description {
    color: var(--mantine-color-white);
    font-weight: 500;
    height: auto;
    margin-top: 3vw;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}

.logo {
    margin-bottom: 20px;
    height: fit-content;
    width: 50%;
}

/* phone */
@media (max-width: 480px) {
    .indicator {
        width: 6px;
    }

    .card {
        padding: 20px;
    }

    .content {
        width: 100vw;
        padding: 10px;
        bottom: 20px;
        left: 20px;
    }

    .image {
        width: 60vw;
    }

    .title {
        font-size: x-large;
    }

    .category {
        font-size: large;
    }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media (max-width: 781px) {
    .genre {
        font-size: small;
    }
}

/* tablet */
@media (max-width: 1025px) {
    .content {
        width: 100%;
        padding: 10px;
        bottom: 20px;
        left: 20px;
    }

    .image {
        width: 50vw;
    }

    .title {
        font-size: xx-large;
    }

    .category {
        font-size: x-large;
    }

    .description {
        overflow-wrap: break-word;
    }
}

/* laptop */
@media (max-width: 1281px) {
    .content {
        width: 100%;
    }
}
